@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .blackbtn {
        @apply font-medium py-2 px-4 rounded-[10px] tracking-tight;
    }
    .blackbtn-primary {
        @apply bg-black text-white;
    }
    .blackbtn-text {
        @apply text-black bg-transparent;
    }
    .tag {
        @apply text-sm inline-flex border border-[#222]/10  px-3 py-1 rounded-xl font-medium tracking-tight
    }
    .title-gradient {
        @apply  bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text
    }
    .section-title {
        @apply mt-5 pb-1 tracking-tighter text-3xl md:text-[54px] md:leading-[60px] font-bold title-gradient
    }
    .section-subtitle {
        @apply mt-5 text-[#010D3E] text-[22px] leading-[30px] tracking-tight
    }
}